@model DarkBoard.Models.UsuarioAtividade
@{
    ViewBag.Title = ViewBag.Atividade.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="~/Estilos/AdministrarAtividades.css" rel="stylesheet" />
<div class="notas">
    @{
        var base64Sala = Convert.ToBase64String(ViewBag.Sala.Img);
        var imgSrcSala = String.Format("data:image/gif;base64,{0}", base64Sala);
    }
    <img class="img" onclick="imagemSala()" src='@imgSrcSala'>
    <div class="enviar" title="Salvar Mudanças" onclick="Salvar()">
        <i class="fas fa-check"></i>
    </div>
    <div class="cancelar" onclick="cancelar()" title="Cancelar Mundanças">
        <i class="far fa-times-circle"></i>
    </div>
    <div class="deletar" onclick="Excluir()" title="Cancelar Atividade"><i class="fas fa-trash-alt"></i></i></div>

    <div class="interno">
        <p class="datap">Data: </p><input type="text" value="@ViewBag.Atividade.DataAtividade" name="at.Data" class="data">
        @if (ViewBag.Alunos.Count > 0)
        {
            <ul>
                <form id="form" method="post" action="/Atividade/Atualiza">
                    @for (int i = 0; i < ViewBag.Alunos.Count; i++)
                    {
                        var imgSrc = Url.Content("~/img/icons/user.png");
                        if (ViewBag.Alunos[i].Img != null)
                        {
                            var base64 = Convert.ToBase64String(ViewBag.Alunos[i].Img);
                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <li>

                            <div class="p">
                                <p class="nome">@ViewBag.Alunos[i].Nome</p>
                                <input  name="usu[i].Id" style="display:none;" value="@ViewBag.AlunosAux[i].Id" />
                                <div class="notac"><p class="notap">Nota: </p><input type="text" id="@i" name="usu[i].Nota" value="@ViewBag.AlunosAux[i].Nota" class="nota"> </div>
                                @if (ViewBag.AlunosAux[i].Arquivo != null)
                                {
                                    <div class="arquivos" onclick="window.open('/Atividade/Download/@ViewBag.AlunosAux[i].Id')" title="Receber Arquivos do Aluno"><i class="fas fa-folder-open"></i></div>
                                }       
                            </div>
                            <img class="aluno" src="@imgSrc">

                        </li>
                    }
                </form>
            </ul>
        }
        else
        {
            <div class="msg">Nenhum Aluno concluiu a tarefa!</div>
        }
    </div>
</div>

<script>
    //document.getElementById("demo").addEventListener("keydown", myFunction);
    var Alunos = [];


    function keyPress(e) {
        if (e.keyCode == 13) {
            $('#fr').submit();
            location.href = '/Home/Pesquisa';
        }
    }

     $(window).ready(function () {

                    if ("@ViewBag.msg" != "")
                        alert("@ViewBag.msg");
                });

        function Excluir() {
           $.ajax({
                url: '/Atividade/Excluir',
          data: { idAtividade: @ViewBag.Atividade.Id }
            }).done(function () {
            location.href = '/Home/Salas'
        });
    }

     $(".menuIcon").click(function () {
        if (!menu) {
                $(".aba").css("margin-left", "-10");
                $("#menu").attr('src', '@Url.Content("~/img/icons/exit.png")');
                $(".menuIcon").css("margin-left", "150");
            menu = true;
        }
        else {
                $(".aba").css("margin-left", "-1000");
                $("#menu").attr('src', '@Url.Content("~/img/icons/menu.png")');
                $(".menuIcon").css("margin-left", "15");
            menu = false;
        }
    })

        var not = @ViewBag.Not;

        if (not == 0) {
            $("number").hide();
        }
        else if (not < 10) {
            $("number").html(not);
        }
        else {
            $("number").html(not)
            $("number").css('padding-right', '5px');
            $("number").css('padding-left', '5px');
        }

        function Salvar() {
            @for(int i =0; i < ViewBag.Alunos.Count;i++)
             {
                <text>
                    Alunos.push({
                        id: @ViewBag.AlunosAux[i].Id,
                        nota: $('#@i').val()
                    })
                </text>
             }
                    jQuery.ajax({
                        type: 'POST',
                        url: "/Atividade/Atualiza",
                        contentType: "application/json",
                        datatype: 'json',
                        data: JSON.stringify(Alunos),
                        success: function (data) { },
                        failure: function (errMsg) {
                            alert(errMsg);
                        }
                    });
        }
</script>

