
@{
    Layout = null;
}

<html>

<head>
    <title>Darkboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' href='../img/icon.ico' sizes="1000x1000">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='../JavaScript/Index.js'></script>
    <link href="~/Estilos/Home.css" rel="stylesheet" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>
    <footer class='footer'>
        <div>
            Icons from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
               target="_blank">CC 3.0 BY</a>
        </div>
        <br> Criado por João Victor Javitti Alves e Danilo de Oliveira Nunes, Direitos Reservados
    </footer>

    <ul class='aba'>
        <a>
            <li>
                <img class='icon' src="@Url.Content("~/img/icons/bell.png")" title='Notificacoes'>
                <number></number>
            </li>
        </a>
        <a href="Usuario/@ViewBag.Usu.Id">
            <li>@{ 
                var base64 = Convert.ToBase64String(ViewBag.Usu.Img);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
                <img class='icon' src="@imgSrc" style="border-radius: 50%;
                                                       height: 90px;
                                                       width: 90px;"
                     title='Usuario'>
            </li>
        </a>
        <a href='Agenda'>
            <li>
                <img class='icon' src="@Url.Content("~/img/icons/checklist.png")" title='Tarefas'>
            </li>
        </a>
        <a href='Salas'>
            <li>
                <img class='icon' src="@Url.Content("~/img/icons/classroom.png")" title='Salas'>
            </li>
        </a>
        <a href='Calendário'>
            <li>
                <img class='icon' src="@Url.Content("~/img/icons/calendario.png")" title='Calendario'>
            </li>
        </a>
    </ul>

    <ul class='menu'>
        <li>
            <img id='menu' class='menuIcon' src='@Url.Content("~/img/icons/menu.png")' title='Menu'>
        </li>
        <br>
        <li>
            <input id='pesq' type='text' class='pesquisa' value=' '>
        </li>
        <li>
            <img id='pesqIcon' class='pesquisaIcon' src='@Url.Content("~/img/icons/search.png")'>
        </li>
        <li class='logo'>
            <a href='Home.html'>
                <img src='@Url.Content("~/img/logo.png")'>
            </a>
        </li>
    </ul>

    <div class="carrosel">
        <ul>
            <li>
                <div class="carrosel-container">
                    <img src="@Url.Content("~/img/1.png")" alt="">
                </div>
            </li>
            <li>
                <div class="carrosel-container">
                    <img src="@Url.Content("~/img/2.png")" alt="">
                </div>
            </li>
            <li>
                <div class="carrosel-container">
                    <img src="@Url.Content("~/img/3.png")" alt="">
                </div>
            </li>
            <li>
                <div class="carrosel-container">
                    <img src="@Url.Content("~/img/4.png")" alt="">
                </div>
            </li>
            <li>
                <div class="carrosel-container">
                    <img src="@Url.Content("~/img/5.png")" alt="">
                </div>
            </li>
        </ul>
    </div>

    <div class="infoBox">
        <h1>O que é DarkBoard?</h1>
        <p>
            Darkboard é um projeto desenvolvido para acabar com vários problemas que os
            <br> alunos e professores de hoje em dia enfrentam,como a falta de organização,
            <br> planejamento e informação. Desta forma esse site visa facilitar a comunicação
            <br> entre o professor e o aluno e resolver tais dilemas. Ajudar o professor no
            <br> cálculo de notas e anunciar atividades como projetos, provas, exercícios e
            <br> comunicados.
            <br> Ambos terão acesso a uma agenda onde poderão anotar seus
            <br> afazeres e quando completados, remove-los e dá-los como concluidos. poderão
            <br> participar de mais de uma classe, poderão procurar classes para participarem.
            <br> Por fim terão acesso a um calendário, onde as datas importantes ficarão
            <br> destacadas, indicando o afazer e o horário que terá naquele dia.
        </p>
    </div>

    <script type="text/javascript">
        var menu = false;
        localStorage.setItem("User", @ViewBag.Usu.Id);
        $(".menuIcon").click(function () {
            if (!menu) {
                $(".aba").css("margin-left", "-10");
                $("#menu").attr('src', '@Url.Content("~/img/icons/exit.png")');
                $(".menuIcon").css("margin-left", "150");
                menu = true;
            }
            else {
                $(".aba").css("margin-left", "-1000");
                $("#menu").attr('src', '@Url.Content("~/img/icons/menu.png")');
                $(".menuIcon").css("margin-left", "15");
                menu = false;
            }
        })

        var not = 0;

        if (not == 0) {
            $("number").hide();
        }
        else if (not < 10) {
            $("number").html(not);
        }
        else {
            $("number").html(not)
            $("number").css('padding-right', '5px');
            $("number").css('padding-left', '5px');
        }
    </script>
</body>

</html>
<script>
    
</script>