
@{
    ViewBag.Title = "Pesquisa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Estilos/Pesquisa.css" rel="stylesheet" />
<div class="resultados">
    <ul>
        @foreach (var Pesq in ViewBag.Busca)
        {
            var imgSrc = Url.Content("~/img/icons/user.png");

            if (Pesq.Img != null)
            {
                var base64 = Convert.ToBase64String(Pesq.Img);
                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
        <li>
            <div class="p" onclick="location.href = '/Home/Usuario/@Pesq.Id'">
                <p class="nome">@Pesq.Nome</p>
            </div>
            <img class="img" src="@imgSrc">
        </li>
        }
    </ul>
</div>

<script>
    //document.getElementById("demo").addEventListener("keydown", myFunction);

    function keyPress(e) {
        if (e.keyCode == 13) {
            $('#fr').submit();
            location.href = '/Home/Pesquisa';
        }
    }
     var menu = false;
        $(".menuIcon").click(function () {
            if (!menu) {
                $(".aba").css("margin-left", "-10");
                $("#menu").attr('src', '@Url.Content("~/img/icons/exit.png")');
                $(".menuIcon").css("margin-left", "150");
                menu = true;
            }
            else {
                $(".aba").css("margin-left", "-1000");
                $("#menu").attr('src', '@Url.Content("~/img/icons/menu.png")');
                $(".menuIcon").css("margin-left", "15");
                menu = false;
            }
        })

        var not = @ViewBag.Not;

        if (not == 0) {
            $("number").hide();
        }
        else if (not < 10) {
            $("number").html(not);
        }
        else {
            $("number").html(not)
            $("number").css('padding-right', '5px');
            $("number").css('padding-left', '5px');
        }

         $(window).ready(function () {

                    if ("@ViewBag.msg" != "")
                        alert("@ViewBag.msg");
                });
</script>