
@{
    ViewBag.Title = "Salas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Estilos/Salas.css" rel="stylesheet" />
<div class="salas">
    @if (ViewBag.Salas.Count > 0)
    {
        foreach (var Sala in ViewBag.Salas)
        {

                var base64 = Convert.ToBase64String(Sala.Img);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <ul onclick="VaiPra('@Sala.Id')">
                <li>
                    <div class="p">
                        <p class="nome">@Sala.Nome</p>
                    </div>
                    <img class="img" src="@imgSrc" style="position: absolute;
                                                        border: 5px solid midnightblue;
                                                        float: left;
                                                        left: calc(95% - 250px);
                                                        background-size: cover;
                                                        background-repeat: no-repeat;
                                                        max-width: 250px;
                                                        min-width: 250px;
                                                        max-height: 250px;
                                                        min-height: 250px;
                                                        transition: 0.2s;">
                </li>
            </ul>
        }
    }
    else
    {
        <text>
            Você não está em nenhuma Sala
        </text>
    }

    <script type="text/javascript">
    function VaiPra(id) {
        location.href = "/Home/Sala/" + id;
    }

        //document.getElementById("demo").addEventListener("keydown", myFunction);

        function keyPress(e) {
            if (e.keyCode == 13) {
                $('#fr').submit();
                location.href = '/Home/Pesquisa';
            }
        }    

        var menu = false;
        localStorage.setItem("User", @ViewBag.Usu.Id);
        $(".menuIcon").click(function () {
            if (!menu) {
                $(".aba").css("margin-left", "-10");
                $("#menu").attr('src', '@Url.Content("~/img/icons/exit.png")');
                $(".menuIcon").css("margin-left", "150");
                menu = true;
            }
            else {
                $(".aba").css("margin-left", "-1000");
                $("#menu").attr('src', '@Url.Content("~/img/icons/menu.png")');
                $(".menuIcon").css("margin-left", "15");
                menu = false;
            }
        })

        var not = @ViewBag.Not;

        if (not == 0) {
            $("number").hide();
        }
        else if (not < 10) {
            $("number").html(not);
        }
        else {
            $("number").html(not)
            $("number").css('padding-right', '5px');
            $("number").css('padding-left', '5px');
        }
    </script>



