@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Usuario - Darkboard</title>
    <link href="~/Estilos/Home.css" rel="stylesheet" />
    <link href="~/Estilos/Usuario.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' href='../img/icon.ico' sizes="1000x1000">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='../JavaScript/Index.js'></script>

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>
    
    @{
        var base64 = Convert.ToBase64String(ViewBag.Usu.Img);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    <div class='usuario'>
        <p class='nome' id='nome'>@ViewBag.Usu.NomeUsu</p>
        <div class='image-upload'>
            <label for='file-input'>
                <div id='imagemLocal'>
                    <img style="margin-top: -20px;
                         border-radius:150px;
                         width: 210px;
                         height:210px;
                         margin-left: 20px;" src='@imgSrc'>
                </div>
            </label>
            <input type='file' accept="image/png, image/jpeg, image/gif" name="file" onchange='TrocaImg(this.files)' id='file-input'>
        </div>


        <ul class='Info'>
            <li id='nomeComp'>@ViewBag.Usu.Nome</li>
            <li id='email'>@ViewBag.Usu.Email</li>
        </ul>

        <img class="Edit" src="@Url.Content("~/img/icons/edit.png")" />
        <div class='desc'>
            Descrição:
            <p>(Insert uma linda descrição Aqui)</p>
        </div>
    </div>

    <script>

        localStorage.setItem("User", @ViewBag.Usu.Id);
        $(".menuIcon").click(function () {
            if (!menu) {
                $(".aba").css("margin-left", "-10");
                $("#menu").attr('src', '@Url.Content("~/img/icons/exit.png")');
                $(".menuIcon").css("margin-left", "150");
                menu = true;
            }
            else {
                $(".aba").css("margin-left", "-1000");
                $("#menu").attr('src', '@Url.Content("~/img/icons/menu.png")');
                $(".menuIcon").css("margin-left", "15");
                menu = false;
            }
        })

        var not = 0;

        if (not == 0) {
            $("number").hide();
        }
        else if (not < 10) {
            $("number").html(not);
        }
        else {
            $("number").html(not)
            $("number").css('padding-right', '5px');
            $("number").css('padding-left', '5px');
        }

        function TrocaImg(files) {
            var imgLocal = document.getElementById('imagemLocal')
            var file = files[0];

            var form = document.getElementById('file-form');

            img = document.createElement("img");

            if (file != null) {
                img.file = file;
                var reader = new FileReader();
                reader.onload = (function (aImg) { return function (e) { aImg.src = e.target.result; }; })(img);
                reader.readAsDataURL(file);
            }
            else {
                img.src = "@imgSrc";
            }

            img.style = 'margin-top: -20px; border-radius:150px; width: 210px; height: 210px; margin-left: 20px;';


            imgLocal.innerHTML = '';

            imgLocal.appendChild(img);
        }

    </script>
</body>
</html>

